version: "3.3"
x-database-credentials: &database-credentials
  DATABASE_USER: ${DATABASE_USER}
  DATABASE_PASSWORD: ${DATABASE_PASSWORD}
x-clickhouse-credentials: &clickhouse-credentials
  CLICKHOUSE_USER: ${CLICKHOUSE_USER}
  CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
x-backend-app-env: &backend-app-env
  <<: [*clickhouse-credentials, *database-credentials]
  NODE_ENV: production
  DATABASE_HOST: ${DATABASE_HOST}
  DATABASE_PORT: ${DATABASE_PORT}
  CLICKHOUSE_HOST: ${CLICKHOUSE_HOST}
  TEMPORAL_ADDRESS: ${TEMPORAL_ADDRESS}
  WORKSPACE_NAME: ${WORKSPACE_NAME:-Default}
  AUTH_MODE: ${AUTH_MODE:-single-tenant}
  SECRET_KEY: ${SECRET_KEY:-GEGL1RHjFVOxIO80Dp8+ODlZPOjm2IDBJB/UunHlf3c=}
  PASSWORD: ${DATABASE_PASSWORD}
  DASHBOARD_API_BASE: ${DASHBOARD_API_BASE}
services:
  dashboard:
    image: dittofeed/dittofeed-dashboard:${SOFTWARE_VERSION_TAG}
    restart: always
    ports:
      - "172.17.0.1:6943:3000"
    depends_on:
      - postgres
      - temporal
      - api
    environment:
      <<: *backend-app-env
  api:
    image: dittofeed/dittofeed-api:${SOFTWARE_VERSION_TAG}
    restart: always
    ports:
      - "172.17.0.1:6944:3001"
    depends_on:
      - postgres
      - temporal
      - worker
    environment:
      <<: *backend-app-env
  worker:
    image: dittofeed/dittofeed-worker:${SOFTWARE_VERSION_TAG}
    restart: always
    depends_on:
      - postgres
      - temporal
    environment:
      <<: *backend-app-env
  admin-cli:
    image: dittofeed/dittofeed-admin-cli:${SOFTWARE_VERSION_TAG}
    entrypoint: []
    command: tail -f /dev/null
    tty: true
    depends_on:
      - postgres
      - temporal
      - clickhouse-server
    environment:
      <<: *backend-app-env
  temporal:
    depends_on:
      - postgres
    environment:
      - DB=postgresql
      - DB_PORT=${DATABASE_PORT}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PWD=${DATABASE_PASSWORD}
      - POSTGRES_SEEDS=${DATABASE_HOST}
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/prod.yaml
    image: temporalio/auto-setup:${TEMPORAL_VERSION}
    restart: always
    labels:
      kompose.volume.type: configMap
    ports:
      - 172.17.0.1:7233:7233
    volumes:
      - ./packages/backend-lib/temporal-dynamicconfig:/etc/temporal/config/dynamicconfig
  postgres:
    image: elestio/postgres:15
    restart: always
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_DB=dittofeed
    ports:
      - "172.17.0.1:2632:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/data
  clickhouse-server:
    image: clickhouse/clickhouse-server:22.9.5.25-alpine
    restart: always
    environment:
      <<: *clickhouse-credentials
    ports:
      - "172.17.0.1:8123:8123"
      - "172.17.0.1:9000:9000"
      - "172.17.0.1:9009:9009"
    volumes:
      - ./clickhouse_lib:/var/lib/clickhouse
      - ./clickhouse_log:/var/log/clickhouse-server

  pgadmin4:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${ADMIN_PASSWORD}
      PGADMIN_LISTEN_PORT: 8080
    ports:
      - "172.17.0.1:8160:8080"
    volumes:
      - ./servers.json:/pgadmin4/servers.json
